<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.relson.databasecrud">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Login"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".newUser"
            android:label="Sign Up"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".showMenu"
            android:label="menu"></activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"></activity>
    </application>

</manifest>